/* carousel  */
.carousel-inner > .carousel-item  > img {
    width:1440px;
    height:684px;
}
.btn-btn{
      background-color: white;
      text-decoration: none;
      padding: 10px 30px;
}
 /* package card */
.card-container{
      margin-top: 110px;
}
.text-header {
      margin-bottom: 100px;
}

.btn-plan{
      background-color: #f3e9ef;
      color: #3F87F5;
      text-align: center;
      padding: 12px 65px;  
}

.card-title-color{
    color: #231D4F;
}
.card-color{
    background-color: #3F87F5;
    border-radius: 20px;
    box-shadow: 0px 0px 30px  #3F87F5;
    position: relative;
    margin-top: -40px;
    padding-bottom: 40px;
}
/* footer */
footer{
    height: 250px;
}
.img-footer{
    height: 40px;
    width: 135px;
    border: 0.5px solid white;
    border-radius: 10px;
}

